body {
    background-color: #1D232A;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.cabecalho__menu {
    width: 50px;
    height: 50px;
}

.cabecalho__notificacao{
    width: 80px;
    height: 80px;
}

.cabecalho__logo{
    width: 50px;
    height: 50px;
      
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background: #15191C;
    width: 40vw;
    height: 60vw;

    position: absolute;
    left: -100vw;
    transition: 0.25s;
}

.menu-lateral--ativo{
    left: 0;
    transition: 0.25s;
}

.menu-lateral__link{
    height: 64px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 6px 18px;
    font-size: 1.2rem;
    text-decoration: unset;
    display: flex;
    align-items: center;
}

.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding:15px;
}

p{
    text-align: justify;
    margin: 0 1em 0 1em;
    line-height: 2em;
    font-size: 1.2em;
}

.rodape {
    text-align: center;
    background: linear-gradient(black,gray);
    clear: right;
    margin: 20px 0 0 0;
}

footer img{
    width: 10%;
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin: 5px 0 0;
    text-align: center;
}
